* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    background-color: black;
}

.logo {
    text-align: left;
}

li {
    list-style: none;
}
a:hover {
    color: gray;
    text-decoration: underline;
}
a{
    text-decoration: none;
    color:white;
    font-size: 1rem;
    cursor: pointer; 
    position: relative;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar ul {
  display: flex;
  gap: 1.5rem;
}

li {
  list-style: none;
}